.waike {
    width: 100%;
    background: #ccc;
    padding-bottom: 50px;

    .top {
        height: 390px;
        background: #fff;
        box-shadow: 1px 1px 5px rgba(98, 105, 109, 0.5);
        text-align: left;
        padding-top: 20px;

        .main {
            margin: 0 auto;
            width: 980px;
            position: relative;

            img {
                margin-left: 10px;
                width: 368px;
                height: 382px;
            }

            .but {
                text-align: right;
                position: absolute;
                top: 36px;
                right: 10px;

                span {
                    color: #333333;
                    font-size: 14px;


                }

                a {
                    width: 49px;
                    height: 22px;
                    background: #ff6a00;
                    border-radius: 2px;
                    color: #fff;
                    margin-left: 6px;
                    display: inline-block;
                    text-align: center;
                }
            }
        }

    }

    .bottom {
        width: 980px;
        margin: 0 auto;
        border-radius: 5px;
        background: #fff;
        box-shadow: 1px 1px 5px rgba(98, 105, 109, 0.5);
        margin-top: 50px;
    }
}